<header>
    <nav>
      <div class="link-background"></div>
      <ul>
        <li>
          <a class="active" routerLink="/">
            <svg>
              <use xlink:href="#home"></use>
            </svg>
            <span class="link-text">Home</span>
          </a>
        </li>
        <li>
          <a routerLink="/login">
            <svg>
              <use xlink:href="#profile"></use>
            </svg>
            <span class="link-text">Login</span>
          </a>
        </li>
        <li>
          <a routerLink="/image/getAll">
            <svg>
              <use xlink:href="#image"></use>
            </svg>
            <span class="link-text">Images</span>
          </a>
        </li>
      </ul>
    </nav>
    
    <svg style="display:none;">
      <symbol id="home" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
        <path fill="none" stroke="" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M31,44.738v-8.52 c0-1.505-0.69-2.929-1.877-3.87l0,0c-1.826-1.448-4.421-1.448-6.247,0l0,0C21.69,33.288,21,34.712,21,36.218v3.565"/>
        <line fill="none" stroke="" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="15" y1="20.223" x2="29" y2="20.223"/>
        <path fill="none" stroke="" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M8,19.232 L24.681,5.466c0.758-0.632,1.869-0.62,2.612,0.03l15.03,13.144C42.754,19.016,43,19.557,43,20.126v22.892 C43,44.113,42.105,45,41,45h-8.6H31H10c-1.105,0-2-0.887-2-1.982V28.151c0-1.095,0.895-1.982,2-1.982h7"/>
      </symbol>
      <symbol id="profile" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
        <line fill="none" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="18.5" y1="37" x2="28.5" y2="37"/>
        <line fill="none" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="14.5" y1="42" x2="21.5" y2="42"/>
        <path fill="none" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M35.857,27.299 C32.753,25.216,29.019,24,25,24C14.735,24,6.323,31.931,5.557,42"/>
        <path fill="none" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M35.857,29.299"/>
        <path fill="none" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M39.665,30.648"/>
        <path fill="none" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M44.443,42 c-0.269-3.539-1.483-6.815-3.391-9.574"/>
        <circle fill="none" stroke="" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" cx="25.5" cy="17" r="9"/>
      </symbol>
        <symbol id="image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
          <path fill="none" stroke="" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M10,10 L40,40 M10,40 L40,10"/>
        </symbol>      
    </svg>
  </header>
  
  
  
  <!-- Main content area -->
  <main>
    <!-- This is where the different components will be dynamically loaded based on the route -->
    <router-outlet></router-outlet>
  </main>
  
  <!-- Footer section -->
  <footer>
    <!-- Footer content goes here -->
  </footer>
  